@model IEnumerable<MvcBookStore.Models.LOAIGIAY>
    <p class="lead"> LOẠI GIÀY</p>
<div class="list-group">

</div>
@foreach (var item in Model)
{
    <a href="@Url.Action("SPTheochude","ShopGiay",new { id = item.MaCD})" class="list-group-item">
        @item.TenLoai
    </a>
}
