@model IEnumerable<MvcBookStore.Models.ADMIN>

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Hello " + @Model. + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
